# first Nootebook for Pandas and Data Visualization

## Pandas Pacakage modules

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")
df.head()

     Gene  Sample1  Sample2  Sample3  Length
0   Gene1      7.2      6.8      7.5  1000.0
1   Gene2      5.1      4.9      5.3   800.0
2   Gene3      6.8      7.0      6.5  1200.0
3   Gene4      4.5      4.7      4.3   900.0
4   Gene5      6.2      6.0      6.4  1100.0

In [ ]:
# df.info() # for getting data info 
#df.describe() # for getting the statistical summary of the data
# df.shape # for getting the number of rows and columns in the data
# df.index  # for getting the index of the data

RangeIndex(start=0, stop=50, step=1)

In [11]:
df['Gene'].dtype

dtype('O')

In [13]:
S1_mean=df['Sample1'].mean()
S1_mean

np.float64(5.912000000000001)

In [ ]:
d=df['Sample1'].sort_index()
df.head()

     Gene  Sample1  Sample2  Sample3  Length
0   Gene1      7.2      6.8      7.5  1000.0
1   Gene2      5.1      4.9      5.3   800.0
2   Gene3      6.8      7.0      6.5  1200.0
3   Gene4      4.5      4.7      4.3   900.0
4   Gene5      6.2      6.0      6.4  1100.0

In [20]:
df['Sample1'].min()

np.float64(4.5)